<nav aria-label="Primary Navigation Example" class="nci-header-nav">
  <div class="nci-header-nav__inner">
    <ul class="nci-header-nav__primary">
      {% for item in items %}
        {% if item.below %}
          <li class="nci-header-nav__primary-item">
            <button type="button" class="nci-button nci-header-nav__primary-button {{ item.in_active_trail ? 'usa-current' : '' }}" aria-expanded="false" aria-controls="basic-mega-nav-section-{{ loop.index }}">
              <span>{{ item.title }}</span>
            </button>
            <div id="basic-mega-nav-section-{{ loop.index }}" class="nci-megamenu" aria-live="polite" aria-busy="false" aria-atomic="true" aria-hidden="true">
              <div class="grid-container">
                <div class="grid-row grid-gap-1">
                <div class="nci-megamenu__items-pane grid-col-9">
                    <div class="grid-row grid-gap">
                      {% for sub_item in item.below %}
                        <div class="grid-col-4">
                          <ul class="nci-megamenu__list">
                            <li class="nci-megamenu__list-item">
                              <a class="nci-megamenu__list-item-link" href="{{ sub_item.url }}">{{ sub_item.title }}</a>
                            </li>
                            {% for sub_sub_item in sub_item.below %}
                              <li class="nci-megamenu__list-item">
                                <a class="nci-megamenu__list-item-link" href="{{ sub_sub_item.url }}">{{ sub_sub_item.title }}</a>
                              </li>
                            {% endfor %}
                          </ul>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </li>
        {% else %}
          <li class="nci-header-nav__primary-item">
            <a class="nci-header-nav__primary-link {{ item.in_active_trail ? 'usa-current' : '' }}" href="{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </div>
</nav>

<div class="nci-header-mobilenav" tabindex="-1" role="dialog" aria-modal="true" id="nci-header-mobilenav" aria-live="polite" aria-busy="false">
  <button class="nci-header-mobilenav__close-btn" aria-controls="nci-header-mobilenav" aria-label="Close Menu"></button>
  <div class="nci-is-loading hidden"></div>
  <nav class="nci-header-mobilenav__nav" aria-label="Primary navigation.">
    <ul class="nci-header-mobilenav__list">
      {% for item in items %}
        {% if item.below %}
          <li class="nci-header-mobilenav__list-node">
            <button class="nci-header-mobilenav__list-label" data-href="{{ item.url }}" data-menu-id="{{ loop.index }}" data-options="0" data-isroot="false">{{ item.title }}</button>
            <ul class="nci-header-mobilenav__list">
              {% for sub_item in item.below %}
                {% if sub_item.below %}
                  <li class="nci-header-mobilenav__list-node">
                    <button class="nci-header-mobilenav__list-label" data-href="{{ sub_item.url }}" data-menu-id="{{ loop.index }}" data-options="0" data-isroot="false">{{ sub_item.title }}</button>
                    <ul class="nci-header-mobilenav__list">
                      {% for sub_sub_item in sub_item.below %}
                        <li class="nci-header-mobilenav__list-node">
                          <a class="nci-header-mobilenav__list-link {{ current_path == sub_sub_item.url ? 'current' : '' }}" href="{{ sub_sub_item.url }}">{{ sub_sub_item.title }}</a>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                {% else %}
                  <li class="nci-header-mobilenav__list-node">
                    <a class="nci-header-mobilenav__list-link {{ current_path == sub_item.url ? 'current' : '' }}" href="{{ sub_item.url }}">{{ sub_item.title }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </li>
        {% else %}
          <li class="nci-header-mobilenav__list-node">
            <a class="nci-header-mobilenav__list-link {{ current_path == item.url ? 'current' : '' }}" href="{{ item.url }}">{{ item.title }}</a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  </nav>
</div>
<div class="nci-header-mobilenav__overlay"></div>
